body{
    background-color: #000000;
    color: rgb(249, 225, 225);
    position: absolute;
    left: 30%;
    top: 30%;
    
}
strong{
    color: rgb(13, 227, 13);
}
main {
    display: -webkit-inline-box;
    img {
        width: 250px;

    }
    .title-links {
        width: 300px;
        margin-right: 35px;
        /* H1 */
        h1 {
            font-family: "Krona One";
            font-style: normal;
            font-size: 28px;
        }
        a {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            padding: 16px;
            gap: 16px;
            left: 0.81%;
            right: 53.66%;
            top: 83.61%;
            bottom: 0%;
            background: #5fe544;
            border-radius: 16px;
            width: 100px;

        }
        a.insta-link{
            margin-right: 10px;
        }
    }
}



